= render 'header'
%div#body
	%div.info
		%p 
			Kernel Web Studio - это молодая команда профессионалов, занимающаяся разработкой сайтов любой сложности и функционала "под ключ".
		%p
			Мы являемся веб-студией полного цикла, а значит, вы можете целиком доверить нам вашу идею. Мы имеем опыт по разработке на php, ruby on rails, ASP .NET и Java EE, создание сайтов-визиток, информационных порталов, интеренет-магазинов.
		%p
			Все проекты в нашем портфолио живые и функционирующие.
		%p
			Мы верим в то, что залог успеха сайта заключен в функциональности и удобстве для пользователя внутри и привлекательном дизайне снаружи. Для достижения этих целей у нас есть все необходимые ресурсы, которые мы будем рады предоставить заказчику.
	%div.topProjects
		%div
			%div.project
				
		%div
			%div.project
				
= render 'footer'
