/ HEADER HOME ###############################################
%section#home
	.row
		.twelve.columns
			%h1.fade-it
				%img{:alt => "YOURLOGO", :src => "/assets/logo_header.png"}
			.fade-it
				.roles
					%div{:style => "margin-top: 0px;"}
						We are Killers.
					%div
						We are Bandits.
					%div
						We are Bad Guys.
					%div
						We are Raiders.
					%div
						We are what you need.
		/ LITTLE LOGO SEE WHAT WE DO
		#down_button.fade-it
			%a{:href => "#whatwedo"}
		/ END LITTLE LOGO SEE WHAT WE DO
/ END HEADER HOME ###############################################
/ NAVIGATION ###############################################
.nav-container{:style => "height: auto;"}
	%nav{:style => "top: 0px;"}
		#logo
			%a{:href => "#"}
				%img{:alt => "YOURLOGO", :src => "/assets/logo_small.png"}
		%ul
			%li
				%a{:href => "#home"}
					=t 'Home'
			%li
				%a{:href => "#whatwedo"}
					=t 'What_we_do'
			%li
				%a{:href => "#contact"}
					=t 'Contacts'
/ END NAVIGATION ###############################################
/ WHAT WE DO SECTION ###############################################
%section#whatwedo
	.row
		.twelve.columns.centered
			%h2
				= t 'What_we_do'
				%i.title_line
	.row
		/ WORKS GRID
		%ul#og-grid.og-grid
			- @projects.each do |project|
				= render 'projects/miniproject', :project => project
		/ END WORKS GRID
/ END WHAT WE DO SECTION ###############################################
/ CONTACT SECTION ###############################################
%section#contact
	.row
		.twelve.columns.centered
			%h2
				=t 'Contacts'
				%i.title_line
	.row
		.eleven.columns.centered
			%p.subtittle
				We're currently accepting new client projects.
				%br/
				Think we might help? We'd love to hear from you.
	.row
		.seven.columns
			%form{:action => "/", :method => "post", :name => "htmlform"}
				%input{:name => "first_name", :placeholder => "YOUR LOVELY NAME", :required => "", :type => "text"}/
				%input{:name => "email", :placeholder => "E-MAIL", :required => "", :type => "email"}/
				%textarea{:cols => "1", :name => "comments", :placeholder => "TELL US EVERYTHING", :required => "", :rows => "5"}
					:preserve
				%button.submit{:name => "send", :type => "submit"}
					Alright
		.five.columns.info
			%h4
				Где нас найти
			%br/
			%p
				Адрес: Новосибирск,
			%p
				ул. Николаева 11/1
			%p
				офис 407
			%h4
				Связь с нами
			%br/
			%p
				%a{:href => "mail"}
					info[at]kerweb.com
/ END CONTACT SECTION ###############################################
/ TWITTER MODULE ###############################################
%section#twitter_module
	.row
		.twelve.columns
			#ticker.query
				%ul.tweet_list
					%li.tweet_even
/ END TWITTER MODULE ###############################################
/ SOCIAL MODULE ###############################################
%section#social_module
	.row
		.twelve.columns
			%ul
				%li
					%a{:href => "#", :target => "_blank"}
						%i.icon
							F
				%li
					%a{:href => "#", :target => "_blank"}
						%i.icon
							L
				%li
					%a{:href => "#", :target => "_blank"}
						%i.icon
							O
/ END SOCIAL MODULE ###############################################
/ FOOTER ###############################################
%footer
	.row
		.twelve.columns
			%img{:alt => "YOURLOGO", :src => "/assets/logo_footer.png"}/
/ END FOOTER ###############################################
/ JAVASCRIPTS ###############################################
%script{:src => "/assets/jquery-1.9.1.min.js", :type => "text/javascript"}
%script{:src => "/assets/jquery.scrollto.js"}
%script{:src => "/assets/waypoints.min.js", :type => "text/javascript"}
%script{:src => "/assets/jquery.tweet.js", :type => "text/javascript"}
%script{:src => "/assets/scripts.js", :type => "text/javascript"}
%script{:src => "/assets/grid.js"}
/ END JAVASCRIPTS ###############################################
