%li
	%a{"data-description" => project.body, "data-largesrc" => project.picture.url, "data-title" => project.name, :href => project.href}
		%img{ :src => project.picture.url(:mini), :alt => project.name }
