- content_for :title do
  =t(:posts_list)
- content_for :description do
  =t(:posts_list_description)

%h1 Посты
-@posts.each do |post|
  %h2
    =post.title
  .post_preview
    =post.preview unless post.preview.blank?

