- content_for :title do
  ='Посты'
- content_for :description do
  ='Посты блога компании Kerweb. Преимущественно по веб программированию'

-@posts.each do |post|
  .post
    %h3
      = link_to raw(post.title), post
    #preview
      =raw post.preview unless post.preview.blank?

