- content_for :title do
  ='Посты'
- content_for :description do
  ='Посты блога компании Kerweb. Преимущественно по веб программированию'

%h1 Посты
-@posts.each do |post|
  %h2
    = link_to raw(post.title), post
  .post_preview
    =raw post.preview unless post.preview.blank?

