- content_for :title do
  =raw @post.title
- content_for :description do
  =@post.preview

%h1#title{'data-mercury' => 'full'}
  =raw @post.title
#preview{'data-mercury' => 'full'}
  =raw @post.preview unless @post.preview.blank?
#body{'data-mercury' => 'full'}
  =raw @post.body unless @post.preview.blank?
= render partial: 'home/vk_body'

-if current_user
  =link_to "Edit",  "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_post_path},
  style: 'display: none'
