html, body {
	position: relative;
	font-family: Sans, Arial;
	height: 100%;
	min-height: 640px;
}

.black {
	background: #000 !important;
}

header {
	padding: 0 11px;
	width: 1000px;
	margin: 0 auto;
	> div:first-child {
		height: 100px;
		border-bottom: solid 1px #fff;
		> div:first-child {
			float: left;
			padding-top: 25px;
			padding-bottom: 0px;
		}
		> div:last-child {
			float: right;
			text-align: right;
		}
		> div {
			padding: 20px 20px;
			h1 {
				padding-left: 35px;
				font-weight: normal;
				color: #fbf1c0;
			}
			p {
				color: #fbf1c0;
			}
			p, a {
				margin: 0;
				cursor: default;
				font-size: 12px;
				font-weight: bold;
			}
			a {
				cursor: auto;
				color: #999;
			}
			a:hover {
				color: #fff;
			}
		}
	}
	> div:last-child {
		margin: 0 20px;
		height: 30px;
	}
}

footer {
	position: absolute;
	padding: 0 11px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 1000px;
	margin: 0 auto;
	color: #fbf1c0;
	> div {
		height: 53px;
		> div:first-child {
			float: left;
			font-size: 12px;
			font-weight: bold;
			p {
				margin: 16px 10px;
			}
		}
		> div:last-child {
			float: right;
		}
	}
}

.navbar {
	.nav {
		margin: 0;
		> li a {
			padding: 5px 11px 5px;
		}
	}
}

#body {
	width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
	padding-bottom: 60px;
	position: absolute;
	top: 130px;
	left: 0;
	right: 0;
	bottom: 0;
	> div {
		width: 1000px;
		display: table-cell;
		vertical-align: middle;
		> div {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.info {
		border: 2px solid #dad8cb;
		background-color: #fce8e8;
		font-size: 15px;
		padding: 20px;
		margin: 30px 0 0 155px;
		width: 470px;
	}
	.topProjects {
		padding: 0px 0 0 0px;
		margin: 30px 0 0 40px;
		> div {
			display: block;
			width: 180px;
			height: 180px;
			background-color: #000;
			&:first-child {
				margin-bottom: 20px;
			}
		}
	}
	.project {
		position: relative;
		height: 180px;
		width: 180px;
		overflow: hidden;
		.slide-cover {
			height: 180px;
			background-color: #aaa;
		}
		.slide-desc {
			height: 180px;
			width: 180px;
			position: absolute;
			z-index: 5;
			top: 145px;
			padding: 0 10px;
			background-color: #141315;
			color: #f4f6f3;
			a {
				color: #f4f6f3;
				margin: 0;
				cursor: pointer;
				display: inline-block;
				&:hover {
					color: #a4a6f3;
				}
			}
			h3 {
				font-size: 15px;
				margin: 0;
			}
		}
	}
}
