#logo-bg
  position: fixed
  height: 115%
  width: 100%
  bottom: 0px
  left: 0px

  background: url('/assets/background_edit.jpg') no-repeat center
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
