#og-grid
  a
    vertical-align: inherit //To put <a> area under the <img> area
  .mini_project_img
    -webkit-filter: grayscale(100%)
    -moz-filter: grayscale(100%)
    -ms-filter: grayscale(100%)
    -o-filter: grayscale(100%)
    filter: grayscale(100%)
    filter: gray /* IE 6-9 */
    -webkit-transition: 1s
    -moz-transition: 1s
    -o-transition: 1s
    transition: 1s
  .mini_project_img:hover, .active_preview
    -webkit-filter: none
    -moz-filter: none
    -ms-filter: none
    -o-filter: none
    filter: none
