<!DOCTYPE html>
<% title = 'Kernel Web Studio' %>
<html>
<<<<<<< HEAD
	<%= render 'head' %>
=======
<head>
  <title>KerWeb</title>
  <%= csrf_meta_tags %>
  <%= render 'home/head' %>
</head>
>>>>>>> cd3e6696ae7450fac0dc68dfe6bef8e80d0950b7
<body>

<%= yield %>

</body>
</html>
